


$typeface-body: 
    "Inter",
    // "Heebo",
    // 'Poppins',
    sans-serif;


$weight-light: 200; 
$weight-regular: 300; 
$weight-semibold: 400; 
$weight-bold: 500; 
$weight-black: 600; 

$color-foreground: #2F2F2F; 
$color-tint: #F3F3F6; 
$color-gray: #868691; 
$color-shade: #D1D3DB; 
$color-background: #EBEFF2; 
$color-elevate: #FDFDFE; 

// $color-foreground: #1A1C1E; 
// $color-tint: #555770; 
// $color-gray: #B3B5C3; 
// $color-shade: #F3F3F6; 
// $color-background: #FAFAFC; 
// $color-elevate: #fdfdfe; 

// $color-brand: #DC143C;
// $color-brand: #FB2D2D; 
$color-brand: #3396ff; 
$color-info: #3361FF; 
$color-error: #FF5E6E; 
$color-gold: #FFD700; 

$max-width: 1360px;


// Mixins

@mixin truncated {
    overflow: hidden;
    white-space: nowrap;
}


