


$typeface-body: 
    "Inter",
    // "Heebo",
    // 'Poppins',
    sans-serif;


$weight-light: 200; 
$weight-regular: 300; 
$weight-bold: 500; 
$weight-black: 600; 

$color-foreground: #2F2F2F; 
$color-tint: #555770; 
$color-gray: #868691; 
$color-shade: #aaaab2; 
$color-background: #EBEFF2; 
$color-elevate: #FDFDFE; 


// $color-brand: #DC143C;
$color-brand: rgb(251, 45, 45); 
$color-info: #3361FF; 
$color-error: #FF5E6E; 
$color-gold: #FFD700; 


// Mixins

@mixin truncated {
    overflow: hidden;
    white-space: nowrap;
}


