@use "./variables" as app; 

* {
    padding: 0px; 
    border: none; 
    margin: 0px; 
    box-sizing: border-box;

    color: inherit; 
    fill: inherit;
    z-index: inherit;
    stroke: inherit; 
    stroke-width: inherit;

    font-family: app.$typeface-body;
    font-size: inherit;
    font-weight: app.$weight-regular;
    line-height: inherit;
}

html {
    font-size: 15px;
    stroke-width: 1.0px;
    line-height: 150%;
    background-color: app.$color-background;
}
@media screen and (min-width: 840px) and (min-height: 680px)
{
    html 
    {
        font-size: 17px;
    }
}

body {
    padding-top: 4rem;
}

main {
    padding: 0px 8vw; 
    min-height: calc(100vh - 4rem);
}

h1 {
    font-size: 2rem;
    font-weight: app.$weight-bold;

}

h2 {
    font-weight: app.$weight-bold;
    font-size: 1.5rem;
}

h3 {
    font-weight: app.$weight-bold;
    font-size: 1.2rem;
}

p, input {
    font-size: 1rem;
    font-weight: app.$weight-regular;
}


button, a.button {
    padding: 0.3rem 1rem; 
    border-radius: 0.5rem; 
    background-color: app.$color-brand;
    color: app.$color-background;
}

a.button {
    width: max-content;
}

button, a {
    cursor: pointer;
    text-decoration: none;
}

a {
    color: app.$color-foreground;
}

* > img {
    max-width: 100%; 
    max-height: 100%;
}
